.grid {
  display: flex;
  flex-wrap: wrap;
  border: solid;
  width: 300px;
  height: 300px;
}
.grid div {
  width: 20px;
  height: 20px;
}

.invader {
  background-color: purple;
}
.shooter {
  background-color: rgb(94, 158, 34);
}
.boom {
  background-color: red;
}
.laser {
  background-color: yellow;
}
